
    <div class="container-fluid hide-on-print">
      <div class="row my-2">
        <div class="col-12 text-center mt-2">
          <h3>Packing Entry</h3>
        </div>
      </div>
      
      <div class="row">
        <div class=" col-2 form-group">
          <label for="ID">PackingEntryCode</label>
          <input class="form-control form-control-sm  no-border-on-print" type="text" id="ID" name="ID"
            [(ngModel)]="packing.PackingEntryCode" readonly>
        </div>
    
        <div class=" col-2 form-group  ">
          <label for="OrderNumber">Order Number</label>
          <input class="form-control form-control-sm  no-border-on-print" type="text" id="OrderNumber" name="OrderNumber"
            [(ngModel)]="packing.OrderNumber" >
        </div>
    
        <div class="col-2 ">
          <div class="form-group">
            <label for="Date"> Order Date</label>
            <input class="form-control form-control-sm  no-border-on-print" type="date" id="Date" name="Date" [(ngModel)]="packing.OrderDate">
          </div>
        </div>
    
        <div class="col-4 ">
          <div class="form-group ">
            <label for="EmployeeName">Employee Name</label>
            <select class="form-control form-control-sm  no-border-on-print" type="text" id="EmployeeName" aria-label="Default select example"
              name="EmployeeName"  [(ngModel)]="packing.EmployeeName">
              <option *ngFor="let item of EmployeeName " [value]="item.EmpName">{{item.EmpName}}</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-2 ">
          <div class="form-group">
            <label for="Date"> Date</label>
            <input class="form-control form-control-sm  no-border-on-print" type="date" id="Date" name="Date" 
              [(ngModel)]="packing.Date">
          </div>
        </div>
    
        <div class=" col-4">
          <div class="form-group">
            <label for="FromLocation">From Location</label>
            <select class="form-control form-control-sm  no-border-on-print" type="text" id="FromLocation" aria-label="Default select example"
              name="SourceLocation" [(ngModel)]="packing.FromLocation">
              <option *ngFor="let item of SourceLocation " [value]="item.locationName">{{item.locationName}}</option>
            </select>
          </div>
        </div>
    
        <div class=" col-4">
          <div class="form-group">
            <label for="FromLocation">To Location</label>
            <select class="form-control form-control-sm  no-border-on-print" type="text" id="FromLocation" aria-label="Default select example"
              name="SourceLocation"  [(ngModel)]="packing.ToLocation">
              <option *ngFor="let item of SourceLocation " [value]="item.locationName">{{item.locationName}}</option>
            </select>
          </div>
        </div>
        </div>
    
    
        <hr>
        <div class="row mt-2 ml-5">
      
          <div class="col-4 search-overlay" data-mdb-input-init>
           
            <input [(ngModel)]="ProductName" name="Product" (input)="search()" (keyup.arrowDown)="onArrowDown()"
            (keyup.arrowUp)="onArrowUp()" (keyup.enter)="onEnter()" type="text" id="productName"
              class="form-control form-control-sm" placeholder="Search Product ..." aria-label="Search" />
            <ul *ngIf="ProductName">
              <li class="list-group-item " *ngFor="let item of allItemList; let i = index" (click)="SelectedItem(item)" [class.selected]="i === selectedItemIndex">
                {{ item.ProductName }}
              </li>
            </ul>
        </div>
        <div class="col-md-6 offset-md-4" style="padding: 0px 0px 0px 40px;">
          <div class="=container-fluid">
            <div class="row">
              <div class="col-9">
                <input type="text" class="form-control form-control-sm ml-4" placeholder="Enter Barcode Here..."
                  [(ngModel)]="this.ReadyBarcode" (keyup.enter)="barcode();" (focusout)="barcode()">
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-sm btn-info text-center" data-toggle="modal"
                data-target="#productModalPopup">Add Product</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
    
        <div class="row mt-2 print-visible">
          <table class="table table-sm print-visible">
      <thead>
        <tr>
          <th class="hide-on-print">Sr.No</th>
          <th>Barcode</th>
          <th>Product Desc</th>
          <th>Quantity</th>
          <th>Accepted Quantity</th>
          <th class="action hide-on-print">Action</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let item of packing.Items,let i = index">
          <td class="hide-on-print">{{item.SrNo}}</td>
    
          <td>
            <input class="form-control form-control-sm no-border-on-print print-visible" type="text" id="Barcode" name="Barcode" [(ngModel)]="item.Barcode">
          </td>
    
          <td>
            <input class="form-control form-control-sm no-border-on-print print-visible" type="text" id="ProductDesc" name="ProductDesc" [(ngModel)]="item.ProductDesc">
          </td>
    
          <td>
            <input class="form-control form-control-sm no-border-on-print print-visible" type="text" id="Quantity" name="Quantity" [(ngModel)]="item.Quantity">
    
          </td>
    
          <td>
            <input class="form-control form-control-sm no-border-on-print print-visible" type="text" id="AcceptedQty" name="AcceptedQty" [(ngModel)]="item.AcceptedQuantity">
          </td>
    
          <td class="action" (click)="deleteRow(i)">
            <button class="btn btn-sm btn-primary"> Remove</button>
          </td> 
        </tr>
      </tbody>
    </table>
    </div>
    
    <div class="row ">
      <div class="col-12 hide-on-print">
        <div class="text-center ">
          
          <button type="submit" class="btn btn-sm btn-primary mr-3" (click)=" SaveOrder();">Save</button>
          <button type="reset" class="btn btn-sm btn-secondary mr-3" [routerLink]="['/dashboard/PackingEntryComponent/0']">Reset</button>
     
          <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/dashboard/PackingEntryListComponent']">Back</button>
        </div>
      </div>
    </div>
    
    
    <!-- Modal -->
<div class="modal fade" id="productModalPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg  modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
      <button type="button" id="btnProductClose" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-product (newItemelectedEvent)="SelectedItem($event)"></app-product>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-sm btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
