<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mt-2">
      <h3>Packing Order</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="form-group">
        <label for="OrderNumber">Packing Order No</label>
        <input class="form-control form-control-sm" type="text" id="OrderNumber" name="OrderNumber" [(ngModel)]="this.objPackingHeader.packageCode" readonly>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="Date"> Date</label>
        <input class="form-control form-control-sm" type="date" id="Date" name="Date" [(ngModel)]="this.objPackingHeader.packgeDate">
      </div>
    </div>
    <div class="col-6 ">
      <div class="form-group ">
        <label for="EmployeeName">Employee Name</label>
        <select class="form-control form-control-sm" type="text" id="EmployeeName" aria-label="Default select example"
          name="EmployeeName"  [(ngModel)]="objPackingHeader.createdBy">
          <option>Select Employee</option>
          <option *ngFor="let item of Employees " [value]="item.EmpName">{{item.EmpName}}</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
  
  <div class="row mb-3">
    
    <div class="col-4 search-overlay" data-mdb-input-init>
      <input [(ngModel)]="ProductName" name="Product" (input)="search()" (keydown.arrowDown)="onArrowDown()"
             (keydown.arrowUp)="onArrowUp()" (keydown.enter)="onEnter()" type="text" id="productName"
             class="form-control form-control-sm" placeholder="Search Product ..." aria-label="Search"/>
      <ul *ngIf="ProductName">
        <li class="list-group-item" *ngFor="let item of allItemList; let i = index"
            (click)="SelectedItem(item)" [class.selected]="i === selectedItemIndex">
          {{ item.ProductName }}
        </li>
      </ul>
    </div>
    
    

  <div class="col-md-6 offset-md-4" style="padding: 0px 0px 0px 40px;">
      <div class="=container-fluid">
        <div class="row">
          <div class="col-9">
            <input type="text" class="form-control form-control-sm ml-4" placeholder="Enter Barcode Here..."
              [(ngModel)]="this.ReadyBarcode" (keyup.enter)="barcode();" (focusout)="barcode()">
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-sm btn-info text-center" data-toggle="modal"
            data-target="#productModalPopup">Add Product</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Barcode</th>
          <th>Product Name</th>
          <th>Actual Quantity</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.objPackingHeader.Items,let i= index">
          <td>{{item.SrNo}}</td>  
          <td>
            <input class="form-control" type="text" id="ReadyBarcode" name="ReadyBarcode" [(ngModel)]="item.Barcode">
          </td>  
          <td>
            <input class="form-control" type="text" id="ProductName" name="ProductName" [(ngModel)]="item.productName">
          </td>  
          <td>  
            <input class="form-control" type="text" id="ActualQuantity" name="ActualQuantity" [(ngModel)]="item.quantity">
          </td>  
          <td class="action" (click)="deleteRow(i)">
            <button class="btn btn-sm btn-primary"> Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="row">
  <div class="col-12">
    <div class="text-center ">
      <button type="submit" class="btn btn-sm btn-primary mr-3" (click)="save();">Save</button>
      <button type="reset" class="btn btn-sm btn-secondary mr-3" [routerLink]="['/dashboard/packinginsert/0']">Reset</button>
      <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/dashboard/packingorder']">Back</button>
    </div>
  </div>
</div>



 <!-- Modal -->
<div class="modal fade" id="productModalPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg  modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
      <button type="button" id="btnProductClose" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-product (newItemelectedEvent)="SelectedItem($event)"></app-product>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-sm btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
