<div class="container bg-primary-subtle p-1">
    
    <div class="row mt-2 mb-3">

        <div class="  col-6 d-flex flex-row-reverse " >
            <button class="btn btn-primary" routerLink="AddPackingOrder">Add Order</button>
            <button class="btn btn-primary me-4" routerLink="expense">Expense</button>
            <button class="btn btn-primary me-4" routerLink="drop">Dropdown</button>
        </div>
        
         <div class="col-6 ">
            <button class="btn btn-primary me-4" routerLink="AddPackingEntry">Add Entry</button>
            <button class="btn btn-primary me-4" routerLink="header">Header</button>
            <button class="btn btn-primary me-4 " routerLink="signin">Signin</button>
            <button class="btn btn-primary " routerLink="signup">Signup</button>
        </div> 
    </div>
</div>

